/* apply a natural box layout model to all elements, but allowing components to change */
html, body {
	// height: 100%;
	// display: flex;
	// flex-direction: column;
	box-sizing: border-box;
	color: $hex-font;
	font-family: 'Open Sans', 'Arial', sans-serif;

	@include bp(0, s) {
		width: 100%;
	}
}

*, *:before, *:after {
	box-sizing: inherit;
}

a {
	color: $hex-link;
	text-decoration: none;
	transition: all .3s ease;

	&:hover {
		color: $hex-link-hover;
		text-decoration: underline;
		transition: all .3s ease;
	}
}

p {
	@include font-size(16, 30);
	margin-top: 0;
	font-weight: 400;
	color: $hex-font;
}

h2,
h3,
h4 {
	margin-top: 0;
}

h1, .h1 {
	@include font-size($h1-size-mobile, $h1-size-mobile);

	@include bp(m) {
		@include font-size($h1-size, $h1-size);
	}
}

h2, .h2 {
	@include font-size($h2-size-mobile);

	@include bp(m) {
		@include font-size($h2-size);
	}
}

h3, .h3 {
	@include font-size($h3-size-mobile);

	@include bp(m) {
		@include font-size($h3-size);
	}
}
