// Variables
$base-spacing-unit: 50px;
$half-spacing-unit: $base-spacing-unit/2;

// Colours
$hex-font: #444;

$hex-link: #168ec6;
$hex-link-hover: #274a83;

$hex-btn-primary-text: #ffffff;
$hex-btn-primary-bg: $hex-link;
$hex-btn-primary-hover: $hex-link-hover;



$h1-size: 42;
$h2-size: 40;
$h3-size: 30;


$h1-size-mobile: 30;
$h2-size-mobile: 28;
$h3-size-mobile: 18;
