// Styles

@import "functional";

@import "plugins/*";

@import "utilities/*";

@import "global/*";
@import "modules/*";



// Variables
$base-spacing-unit: 45px;
$half-spacing-unit: $base-spacing-unit/2;

$hex-btn-primary: #232830;
$hex-link: #7595ae;
$hex-link-hover: #96c0e0;

	
/* apply a natural box layout model to all elements, but allowing components to change */
html, body {
	height: 100%;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	font-family: 'Open Sans', 'Arial', sans-serif;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	flex: 1;
}

// Objects
// =================

.o-section {
	display: flex;
	flex: 1;
	flex-direction: column;
	justify-content: center;
}

.o-section__content {
	display: flex;
	flex-direction: column;
	margin: 0 $half-spacing-unit;
	max-width: 960px;
	min-width: 320px;
	
	@include bp(m) {
		flex-direction: row;
		margin: 0 auto;
	}
}


// Compontents
// =================

// Hero
.c-hero {
	@extend %u-flex-component;

	.o-section__content {
		@include bp(0, m) {
			flex-direction: column-reverse;
			text-align: center;
		}
	}

	.c-hero__about-me {
		display: flex;
		justify-content: center;
		flex-direction: column;
		flex-grow: 2;
		margin-top: $base-spacing-unit;
		
		@include bp(l) {
			margin-top: 0;
			margin-right: $base-spacing-unit;
		}

		.content {
			margin-bottom: 20px;
		}
	}

	.c-hero__display-pic {
		flex-grow: 1;
	}
}

// Themes
// =================

.t-deep-blue {
	color: #fff;
	background-color: #232830;
}

// Utility
// =================

.u-circle-radius {
	border-radius: 999px;
}

// Turn a component into a flex object
%u-flex-component {
	display: flex;
	
	// Ensure its direct component parts are regarded as flex items
	& > [class^="c-"],
	& > [class*=" c-"], {
		flex: 1;
	}
}


// Links
// =================

a {
	color: $hex-link;
	text-decoration: none;

	&:hover {
		color: $hex-link-hover;
		text-decoration: underline;
	}
}

.btn-group {
	.btn {
		margin-right: 15px;

		&:last-child {
			margin-right: 0;
		}
	}
}


.btn {
	display: inline-block;
	padding: 10px 15px;
	border-radius: 3px;
	text-align: center;
	font-weight: 600;

	&:hover {
		text-decoration: none;
	}
}

.btn--primary {
	color: $hex-btn-primary;
	border: 2px solid $hex-link;
	background-color: $hex-link;

	&:hover {
		color: $hex-btn-primary;
		border-color: $hex-link-hover;
		background-color: $hex-link-hover;
	}
}

.btn--secondary {
	border: 2px solid $hex-link;
	&:hover {
		border-color: $hex-link-hover;
	}
}