// Styles


@import "utilities/normalize";
@import "utilities/mixins";

@import "functional";

// Variables
$hex-link: #7595ae;

	
/* apply a natural box layout model to all elements, but allowing components to change */
html, body {
	height: 100%;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	font-family: 'Open Sans', 'Arial', sans-serif;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	flex: 1;
}

// Objects
// =================

.o-section {
	display: flex;
	flex: 1;
	flex-direction: column;
	justify-content: center;
}

.o-section__content {
	display: flex;
	flex-direction: row;
	margin: 0 auto;
	width: 960px;
}


// Compontents
// =================

// Hero
.c-hero {
	@extend %u-flex-component;

	.c-hero__about-me {
		display: flex;
		justify-content: center;
		flex-direction: column;
		flex-grow: 2;

		.content {
			margin-bottom: 20px;
		}
	}

	.c-hero__display-pic {
		flex-grow: 1;
	}
}

// Themes
// =================

.t-deep-blue {
	color: #fff;
	background-color: #232830;

	.content {
		a {
			color: #afc2d0;
		}
	}
}

// Utility
// =================

.u-circle-radius {
	border-radius: 999px;
}

// Turn a component into a flex object
%u-flex-component {
	display: flex;
	
	// Ensure its direct component parts are regarded as flex items
	& > [class^="c-"],
	& > [class*=" c-"], {
		flex: 1;
	}
}


// Links
// =================

a {
	color: $hex-link;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

.btn-group {
	.btn {
		margin-right: 15px;

		&:last-child {
			margin-right: 0;
		}
	}
}


.btn {
	display: inline-block;
	padding: 10px 15px;
	border-radius: 3px;
	text-align: center;
	font-weight: 600;

	&:hover {
		text-decoration: none;
	}
}

.btn--primary {
	color: #232830;
	border: 2px solid $hex-link;
	background-color: $hex-link;
}

.btn--secondary {
	border: 2px solid $hex-link;
}