@layer components {
  .biography {
    @media (min-width: 769px) {
      display: grid;
      grid-column-gap: 50px;
      grid-template-columns: minmax(150px, 400px) 1fr;
    }
  }

  .headshot {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    min-height: 222px;

    @media (min-width: 768px) {
      padding: 0;
    }
  }

  .profile-image {
    width: 100%;
    height: auto;

    @media (max-width: 768px) {
      border-radius: 100%;
    }
  }

  .about-me {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .headline {
    margin-bottom: 15px;
    text-align: center;

    @media (min-width: 769px) {
      text-align: left;
    }
  }

  .tagline {
    margin: 0 auto 25px;
    max-width: 500px;
    font-size: 1.6rem;
    line-height: 1.4;

    @media (min-width: 769px) {
      margin: 0;
      font-size: 2rem;
    }
  }
}
