.c-main-footer {
	position: fixed;
	bottom: 0;
	width: 100%;

	ul {
		@extend %u-horiz-list;
		@include font-size(12);
		font-weight: bold;

		a {
			padding: $half-spacing-unit/2;
			color: #495363;
		}
	}
}