.c-image-display {
	@extend %u-wrapper;
	@extend %u-list-reset;

	@include bp(0, m) {
		padding: 0;
	}

	@include bp(m) {
		display: flex;
		flex-wrap: wrap;
		height: 100%;
	}
}

	.c-image-display__item {
		flex-basis: 100%;
		height: 100%;

		a {
			display: block;
		}

		img {
			display: block;
			width: 100%;
		}

		&:not(:first-child) {
			flex-basis: 50%;
		}
	}
