// Section Object
// =================

.o-section {
	display: flex;
	padding-bottom: $base-spacing-unit;
	min-height: 100vh;
}

// Provides the wrapper
.o-section__content {
	@extend %u-wrapper;
	display: flex;
	flex-direction: row;
}
