// Section Object
// =================

.o-section {
	display: flex;
	min-height: 100vh;
	// padding-bottom: 40px;
}

// Provides the wrapper
.o-section__content {
	@extend %u-wrapper;
	display: flex;
	flex-direction: row;
}
