// Section Object
// =================

.o-section {
	display: flex;
	// min-height: 600px;
	margin-bottom: $base-spacing-unit;

	@include bp(l) {
		min-height: 100vh;
	}
}

// Provides the wrapper
.o-section__content {
	@extend %u-wrapper;
	display: flex;
	flex-direction: row;
}
