
html {
	--body-colour: #444;
	--link-colour: #0f6a95;
	--background-colour: #fff;

	@media (prefers-color-scheme: dark) {
		--body-colour: #fff;
		--link-colour: #739ad9;
		--background-colour: #131313;
	}

	&.dark-mode {
		--body-colour: #fff;
		--link-colour: #739ad9;
		--background-colour: #131313;
	}
}


body {
  box-sizing: border-box;
  color: #444;
  font-family: 'Noto Sans', system-ui, -apple-system, BlinkMacSystemFont, serif;
  font-size: 16px;
  font-weight: 400;
	font-style: normal;
	color: var(--body-colour);
	background-color: var(--background-colour);
}

* {
  box-sizing: inherit;
}


p {
  line-height: 1.875;

  &:not(:last-of-type) {
    margin-bottom: 15px;
  }
}

a {
  color: var(--link-colour);
  transition: all .3s ease;
}

a:hover {
  color: #274a83;
  transition: all .3s ease;
}

strong {
  font-weight: 700;
}
