@import "normalize.css";
@import "reset.css";

@import "./base.css";

.wrapper {
  display: grid;
  grid-template-rows: 1fr auto;
  margin: 0 auto;
  min-height: 100vh;
  padding: 0 20px;

  @media (max-width: 768px) {
    max-width: 500px;
  }
}

.content {
  display: grid;
  place-items: center;
  margin: 0 auto;
  max-width: 1080px;
}

.biography {
  @media (min-width: 769px) {
    display: grid;
    grid-column-gap: 50px;
    grid-template-columns: minmax(150px, 400px) 1fr;
  }
}

.headshot {
  display: flex;
  align-items: center;

  @media (max-width: 768px) {
    padding: 30px;
  }

  picture {
    @media (max-width: 768px) {
      margin: 0 auto;
    }
  }

  img {
    @media (max-width: 768px) {
      border-radius: 100%;
    }
  }
}

.about-me {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
}

  .headline {
    margin-bottom: 15px;
    text-align: center;

    @media (min-width: 769px) {
      text-align: left;
    }
  }

  .tagline {
    margin: 0 auto 25px;
    max-width: 500px;
    font-size: 1.6rem;
    line-height: 1.4;

    @media (min-width: 769px) {
      margin: 0;
      font-size: 2rem;
    }
  }

.footer {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

.tiny-heading {
  font-size: 14px;
  font-weight: 700;
}

.large-text {
  font-size: 2.5rem;
  font-weight: 700;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-links {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  @media (min-width: 769px) {
    grid-column-gap: 10px;
  }
}

.footer__link {
  display: block;
  padding: 10px 15px;
  font-size: 0.75em;
  font-weight: 700;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

 .sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}