---
layout: layouts/base.njk
---

<div class="content">
  <div class="wrapper">
    <section class="biography">
      <div class="headshot">
        {% image "images/me_400.webp", "profile-image", "A portrait of Geoffrey Chong", [400], "(max-width: 768px) 160px, 400px" %}
      </div>
      <div class="about-me">
        <div class="headline">
          <h1 class="tiny-heading">
            Introduction <span class="sr-only">to Geoffrey Chong</span>
          </h1>
          <p class="tagline">
            <span class="large-text">Hi, I&rsquo;m Geoff.</span><br />Design
            Engineer &amp; best practice advocate.
          </p>
        </div>
        <div class="main-body">
          <p>
            <strong>I currently work</strong> for
            <a rel="noopener" href="http://safetyculture.com" target="_blank">Safety Culture</a>
            as a Senior Frontend Engineer working in the Growth and Onboarding space.
          </p>
          <button class="button" href="mailto:hi@geoffreychong.com">Get in touch</button>
        </div>
      </div>
    </section>
  </div>
</div>
